:root {
  --primary-color: #111;
  --secondary-color: #aaa;
  --light-primary-color: #fef1ec;
  --light-color: #f3f3f3;
  --dark-color: #000;
  --max-width: 1100px;
  --border-color: #ddd;
  --white-color: #fff;
  --primary-text-color: #464647;
  --orange-color: #ca5008;
  --blue-color: rgba(33, 89, 158, 1);
  --ikea-font: "Noto IKEA", "Noto Sans", "Roboto", "Open Sans", system-ui,
    sans-serif !important;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

// ::-webkit-scrollbar {
//   max-height: 10%;
//   height: 10%;
// }

// ::-webkit-scrollbar-track {
//   max-height: 20%;
//   height: 20%;
// }
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextLTPro-Light";
  src: url("../public/fonts/AvenirLTStd-Light.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../public/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Black";
  src: url("../public/fonts/AvenirLTStd-Black.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  background-color: white;
  color: var(--primary-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: #fff;
  color: var(--primary-text-color);
}
.underline_text {
  text-decoration: underline;
}

.white_text {
  color: var(--white-color) !important;
}

.bold_text {
  font-family: "AvenirNextLTPro-Bold";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    // color: white;
    // background: black;
  }
}

.font-7 {
  font-size: 7px;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-25 {
  font-size: 25px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}
.font-34 {
  font-size: 34px;
}
.font-36 {
  font-size: 36px;
}
.font-38 {
  font-size: 38px;
}
.font-40 {
  font-size: 40px;
}

.font7 {
  font-size: 7pt !important;
}
.font8 {
  font-size: 8pt !important;
}
.font9 {
  font-size: 9pt !important;
}
.font10-42 {
  font-size: 10.42pt !important;
}
.font10 {
  font-size: 10pt !important;
}
.font11 {
  font-size: 11pt !important;
}
.font12 {
  font-size: 12pt !important;
}
.font13 {
  font-size: 13pt !important;
}
.font13-25 {
  font-size: 13.25pt !important;
}
.font14 {
  font-size: 14pt !important;
}
.font15 {
  font-size: 15pt !important;
}
.font16 {
  font-size: 16pt !important;
}
.font18 {
  font-size: 18pt !important;
}
.font20 {
  font-size: 20pt !important;
}
.font22 {
  font-size: 22pt !important;
}
.font24 {
  font-size: 24pt !important;
}
.font26 {
  font-size: 26pt !important;
}
.font30 {
  font-size: 30pt !important;
}
.font32 {
  font-size: 32pt !important;
}
.font33 {
  font-size: 33pt !important;
}
.font39 {
  font-size: 39pt !important;
}
.font40 {
  font-size: 40pt !important;
}
.font42 {
  font-size: 42pt !important;
}
.font47 {
  font-size: 47pt !important;
}
.font48 {
  font-size: 48pt !important;
}

.strike-out-text {
  text-decoration: line-through;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}

.screen_margin {
  margin-left: 5vw;
  // margin-right: 2vw;
}

.content_wrapper {
  width: 90vw;
  margin: auto;
}

//NAVBAR STYLING STARTS
.navbar_wrapper {
  display: grid;
  grid-template-columns: 100px auto;
  background-color: #fff;
  padding: 20px 5vw;
  box-shadow: 0px 0px 10px 4px #ccc;
  border-radius: 0 0 12px 12px;
  .logo_wrapper {
    img {
      width: auto;
      height: 60px;
    }
  }

  .links_wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;

    .link {
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}

//HERO STYLING STARTS
.hero_wrapper {
  position: relative;
  img {
    width: 100%;
    height: calc(100vh - 106px);
    border-radius: 10px;
  }

  .overlay_wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

//CMR AND MUFIY SECTION STYLING STARTS
.cmr_wrapper {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  gap: 45px;
  margin-top: 40px;
  .cmrimg_wrapper {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .mufiy_wrapper {
    background-color: rgb(255, 199, 44);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: relative;
    // overflow: hidden;
    // .mufiy_yellow {
    //   position: relative;
    //   // background-color: rgb(255, 199, 44);
    //   display: flex;
    //   align-items: center;
    //   height: 190px;
    //   // width: 94%;
    // }
    // span {
    //   position: absolute;
    //   width: 40%;
    //   margin-left: 10px;
    //   color: black;
    // }

    .yellow_text {
      width: 40%;
    }
    .mufiy_blue {
      position: absolute;
      background-color: rgb(30, 43, 75);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      width: calc(50% + 5vw);
      right: -4.55vw;
      height: 66%;
      color: white;
      display: flex;
      align-items: center;
      padding-left: 20px;

      .blue_overlay_text {
        width: 80%;
      }

      // span {
      //   position: absolute;
      //   width: 90%;
      //   bottom: 15px;
      //   color: white;
      //   margin-left: 10px;
      // }
    }
  }
}
//location section styling starts from here
.logo_location {
  display: flex;
  align-items: center;
  gap: 20px;
}
.location_wrapper {
  .location_images_wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 1.1fr;
    gap: 10px;
    aspect-ratio: 3/4;
    .secondcolumn {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    img {
      width: 100%;

      border-radius: 10px;
    }
  }
}

// slide image section styling starts from here
.slideimgs {
  display: flex;
  gap: 20px;
}
.slideimgsfnc {
  .slide-img {
    position: relative;
    border-radius: 20px;

    &:hover {
      transform: translate(0px, -45px);
      transition: ease-in 500ms;
    }
  }
  img {
    width: 210px;
    height: 302px;
  }
  .overlaptext {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: rgb(81, 191, 89);
    bottom: 0px;
    background-color: rgb(31, 44, 75);
    border-radius: 0px 0 20px 20px;
    width: 100%;
    height: 80px;
  }
  .hoveredtext {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    height: 120px;
    width: 100%;
    bottom: 0;
    background-color: rgb(81, 191, 89);
    color: rgb(31, 44, 75);
    border-radius: 0 0 20px 20px;
  }

  .overlap_img {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 10000;
    width: 50px;
    height: 50px;
    &:hover {
      // background-image: url("https://turbusdweb.kupos.cl/images/turbus/services/Turbus-icon-active.svg");
    }
  }
}

// highlights styling starts

.highlights_wrpper {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  .highlights_heading {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .highlights_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;

    .card_contaienr {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    .card_title {
      display: flex;
      width: 160px;
      font-weight: bold;
      text-align: center;
    }
    .card_desc {
      width: 200px;
      text-align: center;
    }
  }
}
.heading_text {
  text-align: center;
}

// wrapper styling

.wrapper {
  width: 90%;
  margin: auto;
}
// signin styling starts

.signin_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
  overflow: hidden;
  .left_container {
    // position: fixed;
    padding: 2rem 4rem;
    background-color: rgb(204, 255, 95);
    display: flex;
    flex-direction: column;
    gap: 22%;
    .logo {
      width: 120px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .message_container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .heading {
        font-size: 2.3rem;
        font-weight: bold;
      }
    }
  }

  .riht_wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem 0;
    .right_container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      .sign_up_link {
        cursor: pointer;
      }
    }

    .login_right_container {
      margin-top: 16%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      .sign_up_link {
        cursor: pointer;
      }
    }
  }
}

// input styling starts

.input_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  label {
    // font-size: 20px;
  }
  .text_field {
    outline: none;
    // border-radius: 10px;
    font-size: 1rem;
  }
}

// password input styling starts

.password_wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  label {
    // font-size: 20px;
  }
  .outlined_input {
    outline: none;
    // border-radius: 10px;
    font-size: 1rem;
  }
}

// checkbox container styling starts

.checkbox_container {
  width: 70%;
  display: flex;
  gap: 10px;

  label {
    // font-size: 20px;
  }
  input {
    width: 20px;
    height: 20px;
  }
}

// selector styling starts

.selector_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  label {
    // font-size: 20px;
  }
  .selector {
    // border-radius: 10px;
    font-size: 1rem;
    // background-color: #fff;
  }
}

//button styling starts
.my_btn {
  width: 70%;
  padding: 1rem 0;
  border-radius: 30px;
  border: none;
  font-size: 20px;
}

//catagories styling starts

.catagories_wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;

  .alice-carousel__wrapper {
    .alice-carousel__stage {
      // display: flex;
      // gap: 20px;
      .alice-carousel__stage-item __cloned {
        width: 200px;
        img {
          width: 100%;
        }
      }
    }
  }
}
