:root {
  --primary-color: #111;
  --secondary-color: #aaa;
  --light-primary-color: #fef1ec;
  --light-color: #f3f3f3;
  --dark-color: #000;
  --max-width: 1100px;
  --border-color: #ddd;
  --white-color: #fff;
  --primary-text-color: #464647;
  --orange-color: #ca5008;
  --blue-color: rgba(33, 89, 158, 1);
  --ikea-font: "Noto IKEA", "Noto Sans", "Roboto", "Open Sans", system-ui, sans-serif !important;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextLTPro-Light";
  src: url("../public/fonts/AvenirLTStd-Light.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../public/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Black";
  src: url("../public/fonts/AvenirLTStd-Black.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  background-color: white;
  color: var(--primary-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: #fff;
  color: var(--primary-text-color);
}
.underline_text {
  text-decoration: underline;
}

.white_text{
  color: var(--white-color) !important;
}

.bold_text {
 font-family: "AvenirNextLTPro-Bold";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    // color: white;
    // background: black;
  }
}

.font-7 {
  font-size: 7px;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-25 {
  font-size: 25px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}
.font-34 {
  font-size: 34px;
}
.font-36 {
  font-size: 36px;
}
.font-38 {
  font-size: 38px;
}
.font-40 {
  font-size: 40px;
}

.font7 {
  font-size: 7pt !important;
}
.font8 {
  font-size: 8pt !important;
}
.font9 {
  font-size: 9pt !important;
}
.font10-42 {
  font-size: 10.42pt !important;
}
.font10 {
  font-size: 10pt !important;
}
.font11 {
  font-size: 11pt !important;
}
.font12 {
  font-size: 12pt !important;
}
.font13 {
  font-size: 13pt !important;
}
.font13-25 {
  font-size: 13.25pt !important;
}
.font14 {
  font-size: 14pt !important;
}
.font15 {
  font-size: 15pt !important;
}
.font16 {
  font-size: 16pt !important;
}
.font18 {
  font-size: 18pt !important;
}
.font20 {
  font-size: 20pt !important;
}
.font22 {
  font-size: 22pt !important;
}
.font24 {
  font-size: 24pt !important;
}
.font26 {
  font-size: 26pt !important;
}
.font30 {
  font-size: 30pt !important;
}
.font32 {
  font-size: 32pt !important;
}
.font33 {
  font-size: 33pt !important;
}
.font39 {
  font-size: 39pt !important;
}
.font40 {
  font-size: 40pt !important;
}
.font42 {
  font-size: 42pt !important;
}
.font47 {
  font-size: 47pt !important;
}
.font48 {
  font-size: 48pt !important;
}

.strike-out-text {
  text-decoration: line-through;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}

.screen_margin{
  margin-left: 5vw;
}



//NAVBAR STYLING STARTS 
.navbar_wrapper{
  display: grid;
  grid-template-columns: 100px auto;
  background-color: #fff;
  padding: 20px 5vw;
  box-shadow: 0px 0px 10px 4px #ccc;
  border-radius:0 0 12px 12px;
  .logo_wrapper{
    img{
      width: auto;
      height: 60px;
    }
  }

  .links_wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;

    .link{
      &:hover{
        color: red;
        cursor: pointer;
      }
    }

  }
}

//HERO STYLING STARTS 
.hero_wrapper{
  position: relative;
  img{
    width: 100%;
    height: calc(100vh - 106px);
  }

  .overlay_wrapper{
    position: absolute;
    top: 0px;left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
}