:root {
  --primary-color: #ff8f45;
  --secondary-color: #ff5c60;
  --light-primary-color: #fef1ec;
  --light-color: #f3f3f3;
  --dark-color: #000;
  --max-width: 1100px;
  --border-color: #ddd;
  --white-color: #fff;
  --primary-text-color: #464647;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "AvenirNextLTPro-Light";
  src: url("../public/fonts/AvenirLTStd-Light.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../public/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextLTPro-Black";
  src: url("../public/fonts/AvenirLTStd-Black.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  background-color: white;
  color: var(--primary-text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background-color: #fff;
  color: var(--primary-text-color);
}
.underline-text {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    // color: white;
    // background: black;
  }
}

// .content-container {
//   width: 1200px !important;
// }

.pointer {
  cursor: pointer;
}

// ------------------------- UTILITY CLASSES ----------------------
.border-red {
  border: 1px solid red;
  padding: 5px 10px;
}
.border-gray {
  border: 1px solid gray;
  padding: 5px 10px;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.color-green {
  color: green;
}
.line {
  height: 1px;
  background-color: var(--primary-text-color);
  width: 100%;
}
.flex {
  display: flex;
  gap: 20px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.border-radius {
  border-radius: 10px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
}



