:root {
  --primary-color: #111;
  --secondary-color: #aaa;
  --light-primary-color: #fef1ec;
  --light-color: #f3f3f3;
  --dark-color: #000;
  --max-width: 1100px;
  --border-color: #ddd;
  --white-color: #fff;
  --primary-text-color: #464647;
  --orange-color: #ca5008;
  --blue-color: #21599e;
  --ikea-font: "Noto IKEA", "Noto Sans", "Roboto", "Open Sans", system-ui,
    sans-serif !important;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "AvenirNextLTPro-Light";
  src: url("../public/fonts/AvenirLTStd-Light.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../public/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("../public/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Black";
  src: url("../public/fonts/AvenirLTStd-Black.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-family: "AvenirNextLTPro-Regular", sans-serif;
  background-color: white;
  color: var(--primary-text-color);
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  background-color: #fff;
  color: var(--primary-text-color);
}
.underline_text {
  text-decoration: underline;
}
.white_text {
  color: var(--white-color) !important;
}
.bold_text {
  font-family: "AvenirNextLTPro-Bold";
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.font-7 {
  font-size: 7px;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-25 {
  font-size: 25px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}
.font-32 {
  font-size: 32px;
}
.font-34 {
  font-size: 34px;
}
.font-36 {
  font-size: 36px;
}
.font-38 {
  font-size: 38px;
}
.font-40 {
  font-size: 40px;
}
.font7 {
  font-size: 7pt !important;
}
.font8 {
  font-size: 8pt !important;
}
.font9 {
  font-size: 9pt !important;
}
.font10-42 {
  font-size: 10.42pt !important;
}
.font10 {
  font-size: 10pt !important;
}
.font11 {
  font-size: 11pt !important;
}
.font12 {
  font-size: 12pt !important;
}
.font13 {
  font-size: 13pt !important;
}
.font13-25 {
  font-size: 13.25pt !important;
}
.font14 {
  font-size: 14pt !important;
}
.font15 {
  font-size: 15pt !important;
}
.font16 {
  font-size: 16pt !important;
}
.font18 {
  font-size: 18pt !important;
}
.font20 {
  font-size: 20pt !important;
}
.font22 {
  font-size: 22pt !important;
}
.font24 {
  font-size: 24pt !important;
}
.font26 {
  font-size: 26pt !important;
}
.font30 {
  font-size: 30pt !important;
}
.font32 {
  font-size: 32pt !important;
}
.font33 {
  font-size: 33pt !important;
}
.font39 {
  font-size: 39pt !important;
}
.font40 {
  font-size: 40pt !important;
}
.font42 {
  font-size: 42pt !important;
}
.font47 {
  font-size: 47pt !important;
}
.font48 {
  font-size: 48pt !important;
}
.strike-out-text {
  text-decoration: line-through;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.screen_margin {
  margin-left: 5vw;
}
.content_wrapper {
  width: 90vw;
  margin: auto;
}
.navbar_wrapper {
  display: grid;
  grid-template-columns: 100px auto;
  background-color: #fff;
  padding: 20px 5vw;
  box-shadow: 0px 0px 10px 4px #ccc;
  border-radius: 0 0 12px 12px;
}
.navbar_wrapper .logo_wrapper img {
  width: auto;
  height: 60px;
}
.navbar_wrapper .links_wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
}
.navbar_wrapper .links_wrapper .link:hover {
  color: red;
  cursor: pointer;
}
.hero_wrapper {
  position: relative;
}
.hero_wrapper img {
  width: 100%;
  height: calc(100vh - 106px);
  border-radius: 10px;
}
.hero_wrapper .overlay_wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cmr_wrapper {
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  gap: 45px;
  margin-top: 40px;
}
.cmr_wrapper .cmrimg_wrapper img {
  width: 100%;
  height: 100%;
}
.cmr_wrapper .mufiy_wrapper {
  background-color: #ffc72c;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: relative;
}
.cmr_wrapper .mufiy_wrapper .yellow_text {
  width: 40%;
}
.cmr_wrapper .mufiy_wrapper .mufiy_blue {
  position: absolute;
  background-color: #1e2b4b;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: calc(50% + 5vw);
  right: -4.55vw;
  height: 66%;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.cmr_wrapper .mufiy_wrapper .mufiy_blue .blue_overlay_text {
  width: 80%;
}
.logo_location {
  display: flex;
  align-items: center;
  gap: 20px;
}
.location_wrapper .location_images_wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 1.1fr;
  gap: 10px;
  aspect-ratio: 3/4;
}
.location_wrapper .location_images_wrapper .secondcolumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.location_wrapper .location_images_wrapper img {
  width: 100%;
  border-radius: 10px;
}
.slideimgs {
  display: flex;
  gap: 20px;
}
.slideimgsfnc .slide-img {
  position: relative;
  border-radius: 20px;
}
.slideimgsfnc .slide-img:hover {
  transform: translate(0px, -45px);
  transition: ease-in 500ms;
}
.slideimgsfnc img {
  width: 210px;
  height: 302px;
}
.slideimgsfnc .overlaptext {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #51bf59;
  bottom: 0px;
  background-color: #1f2c4b;
  border-radius: 0px 0 20px 20px;
  width: 100%;
  height: 80px;
}
.slideimgsfnc .hoveredtext {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  height: 120px;
  width: 100%;
  bottom: 0;
  background-color: #51bf59;
  color: #1f2c4b;
  border-radius: 0 0 20px 20px;
}
.slideimgsfnc .overlap_img {
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 10000;
  width: 50px;
  height: 50px;
}
.highlights_wrpper {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.highlights_wrpper .highlights_heading {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.highlights_wrpper .highlights_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
}
.highlights_wrpper .highlights_cards .card_contaienr {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.highlights_wrpper .highlights_cards .card_title {
  display: flex;
  width: 160px;
  font-weight: bold;
  text-align: center;
}
.highlights_wrpper .highlights_cards .card_desc {
  width: 200px;
  text-align: center;
}
.heading_text {
  text-align: center;
}
.wrapper {
  width: 90%;
  margin: auto;
}
.signin_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  height: 100vh;
  overflow: hidden;
}
.signin_wrapper .left_container {
  padding: 2rem 4rem;
  background-color: #ccff5f;
  display: flex;
  flex-direction: column;
  gap: 22%;
}
.signin_wrapper .left_container .logo {
  width: 120px;
}
.signin_wrapper .left_container .logo img {
  width: 100%;
  height: 100%;
}
.signin_wrapper .left_container .message_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.signin_wrapper .left_container .message_container .heading {
  font-size: 2.3rem;
  font-weight: bold;
}
.signin_wrapper .riht_wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2rem 0;
}
.signin_wrapper .riht_wrapper .right_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.signin_wrapper .riht_wrapper .right_container .sign_up_link {
  cursor: pointer;
}
.signin_wrapper .riht_wrapper .login_right_container {
  margin-top: 16%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.signin_wrapper .riht_wrapper .login_right_container .sign_up_link {
  cursor: pointer;
}
.input_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.input_container .text_field {
  outline: none;
  font-size: 1rem;
}
.password_wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.password_wrapper .outlined_input {
  outline: none;
  font-size: 1rem;
}
.checkbox_container {
  width: 70%;
  display: flex;
  gap: 10px;
}
.checkbox_container input {
  width: 20px;
  height: 20px;
}
.selector_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.selector_container .selector {
  font-size: 1rem;
}
.my_btn {
  width: 70%;
  padding: 1rem 0;
  border-radius: 30px;
  border: none;
  font-size: 20px;
}
.catagories_wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.catagories_wrapper .alice-carousel .alice-carousel__wrapper .alice-carousel__stage .alice-carousel__stage-item {
  width: 200px;
}
.catagories_wrapper .alice-carousel .alice-carousel__wrapper .alice-carousel__stage .alice-carousel__stage-item img {
  width: 100%;
  cursor: pointer;
}
.catagories_wrapper .alice-carousel .alice-carousel__prev-btn {
  position: absolute;
  top: 30%;
  left: -4px;
  height: 50%;
  display: flex;
  align-items: center;
  width: fit-content;
}
.catagories_wrapper .alice-carousel .alice-carousel__prev-btn .alice-carousel__prev-btn-item {
  background-color: #f5efefd5;
  height: 100px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
.catagories_wrapper .alice-carousel .alice-carousel__next-btn {
  position: absolute;
  right: 0;
  top: 30%;
  width: fit-content;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.catagories_wrapper .alice-carousel .alice-carousel__next-btn .alice-carousel__next-btn-wrapper {
  background-color: #f5efefd5;
  height: 100px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}
.catagory_page_wrapper .catagory_container {
  margin-top: 1.4rem;
  margin: 1.4rem 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.catagory_page_wrapper .catagory_container .left_side {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  gap: 1rem;
  border-right: 2px solid #233;
}
.catagory_page_wrapper .catagory_container .right_side {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4px;
}
.filtered_categories_wrapper {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}
.filtered_categories_wrapper .item_img {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filtered_categories_wrapper .item_img img {
  width: 90%;
  padding: 1rem 1rem;
}
.filtered_categories_wrapper .item_details {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 1rem 16px;
  text-wrap: wrap;
}
.filtered_categories_wrapper .item_details .strike_price {
  text-decoration: line-through;
  padding-left: 4px;
}
